@model HomeNewsListViewModel

@{
    ViewBag.Title = @Localizer["Title"];
}

<div class="page-header page-header-xxs settings-background" data-parallax="true" style="background-image: url('@Url.Content("~/blog.jpg")'); transform: translate3d(0px, 0px, 0px);">
    <div class="filter"></div>
</div>

<div class="main">
    <div class="section section-white">
        <div class="container">

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <form method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <select id="CategoryId" name="CategoryId" asp-items="Model.FilterNewsViewModel.Categories" class="form-control" value="@Model.FilterNewsViewModel.CategoryId">
                                        </select>
                                    </div>                                 
                                    <div class="form-group">
                                        <input id="SearchString" name="SearchString" class="form-control" value="@Model.FilterNewsViewModel.SearchString" placeholder="@Localizer["Search"]" />
                                    </div>
                                    <div class="form-group">
                                        <input id="Tags" name="Tags" class="tagsinput" data-color="success" type="text" data-role="tagsinput" style="display: none;" value="@Model.FilterNewsViewModel.Tags">
                                    </div>
                                    <div class="custom-control custom-switch form-group">
                                        <input id="FindByComments" name="FindByComments" class="custom-control-input" type="checkbox" value="true" data-val="true" @(@Model.FilterNewsViewModel.FindByComments ? "checked=\"checked\"" : "") />
                                        <label for="FindByComments" class="custom-control-label">@Localizer["FindByComments"]</label>
                                    </div>


                                </div>

                            </div>
                            <div class="col-md-6">
                                <input type="hidden" name="DateCalendar" id="DateCalendar">
                                <div id="myCalendar" class="vanilla-calendar"></div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Фильтр" class="btn btn-outline-default btn-round btn-sm" />
                                <a asp-controller="Home" asp-action="List" class="btn btn-outline-default btn-round btn-sm">@Localizer["Сбросить фильтр"]</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <page-link page-url-categoryId="@(Model.FilterNewsViewModel.CategoryId)"
                       page-url-searchString="@(Model.FilterNewsViewModel.SearchString)"
                       page-url-tags="@(Model.FilterNewsViewModel.Tags)"
                       page-url-findByComments="@(Model.FilterNewsViewModel.FindByComments)"
                       page-url-dateCalendar="@(Model.FilterNewsViewModel.DateCalendar)"
                       page-model="Model.PageViewModel"
                       page-action="List">

            </page-link>

            <hr>

            @foreach (NewsAnnotationViewModel news in Model.NewsAnnotation)
            {
                <news news-view="news" controller-name="News" action-name="Index"></news>
                <hr>
            }

            <page-link page-url-categoryId="@(Model.FilterNewsViewModel.CategoryId)"
                       page-url-searchString="@(Model.FilterNewsViewModel.SearchString)"
                       page-url-tags="@(Model.FilterNewsViewModel.Tags)"
                       page-url-findByComments="@(Model.FilterNewsViewModel.FindByComments)"
                       page-url-dateCalendar="@(Model.FilterNewsViewModel.DateCalendar)"
                       page-model="Model.PageViewModel"
                       page-action="List">

            </page-link>

        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(window).ready(function () {
            $('body').removeClass('full-screen');
            $('body').addClass('blog-posts');
        });

        let dateCalendar = new Date("@(Model.FilterNewsViewModel.DateCalendar == DateTime.MinValue? DateTime.Now.Date.ToString("s") : Model.FilterNewsViewModel.DateCalendar.Date.ToString("s"))")
        let selectDate = new Date("@(Model.FilterNewsViewModel.DateCalendar.Date.ToString("s"))")
        let dateNow = new Date("@(DateTime.Now.Date.ToString("s") )")

        let myCalendar = new VanillaCalendar({
            selector: "#myCalendar",
            date: dateCalendar,
            selectDate: selectDate,
            todaysDate: dateNow,
            onSelect: (data, elem) => {
                $('#DateCalendar').val(data.date);
            }
        });

        $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });
        });

    </script>
}
